<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="main-header">
        <img class="logo" src="{{ url_for('static', filename='logo.png') }}" alt="healthcare inc logo">
        <h1>Welcome {{user.first_name}} {{user.last_name}}!</h1>
    </div>
    <div class = "appointments">
        <h2>Upcoming Appointments</h2>
        {% for one_date in all_dates %}
        <table>
            {% if one_date.creator.id == user.id %}
            <tr>
                <td><strong>{{one_date.provider_name}}</strong></td>
                <td>{{one_date.care_date.strftime('%A, %B %e, %Y %I:%M %p')}}</td> 
                <td><a class="option" href="/delete/{{one_date.id}}">Cancel</a></td>
            </tr>
            {% endif %}
        </table>
        {% endfor %}
    </div>
    <div class = "options">
        <a class="option" href = "/dashboard/sort_by_date">Sort by Date</a>
        <a class="option" href = "/dashboard/sort_by_provider_name">Sort by Provider Name</a>
    </div>
    <div class = "options">
        <a class="option" href = "/profile">View Profile</a>
        <a class="option" href = "/newappointment">Find Care</a>
        <a class="option" href = "/editProfile">Edit Profile</a>
        <a class="option" href="/logout">Log Out</a>
    </div>
    
</body>
</html>