<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Care</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class = "header">
        <h1>Find Care</h1>
        <a href="/dashboard">Home</a>
    </div>
    <div class = "care_info">
        <form action="/find_care" method="POST">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="error">{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <label for="provider_name">Providers:</label>
            {% if user.insurance_name == "aetna" %}
                <select name="provider_name" id="provider_name">
                    <option value="Lakeview Family Medicine">Lakeview Family Medicine</option>"
                    <option value="Midwest Medical Associates">Midwest Medical Associates</option>"
                    <option value="Northwestern Medicine">Northwestern Medicine</option>"
                </select>
            {% endif %}
            {% if user.insurance_name == "bluecross" %}
                <select name="provider_name" id="provider_name">
                    <option value="NorthShore Medical Group">NorthShore Medical Group</option>"
                    <option value="Fayetteville Family Medical">Fayetteville Family Medical</option>"
                    <option value="Highland Family Practice">Highland Family Practice</option>"
                </select>
            {% endif %}
            {% if user.insurance_name == "cigna" %}
                <select name="provider_name" id="provider_name">
                    <option value="Health Pavilion North Family Care">Health Pavilion North Family Care</option>"
                    <option value="Hope Mills Family Care">Hope Mills Family Care</option>"
                    <option value="Stedman Medical Care">Stedman Medical Care</option>"
                </select>
            {% endif %}
            {% if user.insurance_name == "united" %}
                <select name="provider_name" id="provider_name">
                    <option value="Westside Medical Care">Westside Medical Care</option>"
                    <option value="Hoke Primary Care">Hoke Primary Care</option>"
                    <option value="Three Rivers Medical Center">Three Rivers Medical Center</option>"
                </select>
            {% endif %}
            <label for="care_date">Select Date for Appointment:</label>
            <input type="datetime-local" id="care_date" name="care_date">
            <button>Book Appointment</button>
        </form>
    </div>
</body>
</html>