<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Care</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class = "header">
        <h1 class="flush">Find Care</h1>
    </div>
    <div class = "appointments">
        <form class="form" action="/find_care" method="POST">
            <label for="care_type">Providers:</label>
            {% if user.insurance_name == "aetna" %}
                <select name="care_type" id="care_type">
                    <option value="Lakeview Family Medicine">Lakeview Family Medicine</option>"
                    <option value="Midwest Medical Associates">Midwest Medical Associates</option>"
                    <option value="Northwestern Medicine">Northwestern Medicine</option>"
                </select>
            {% endif %}
            {% if user.insurance_name == "bluecross" %}
                <select name="care_type" id="care_type">
                    <option value="NorthShore Medical Group">NorthShore Medical Group</option>"
                    <option value="Fayetteville Family Medical">Fayetteville Family Medical</option>"
                    <option value="Highland Family Practice">Highland Family Practice</option>"
                </select>
            {% endif %}
            {% if user.insurance_name == "cigna" %}
                <select name="care_type" id="care_type">
                    <option value="Health Pavilion North Family Care">Health Pavilion North Family Care</option>"
                    <option value="Hope Mills Family Care">Hope Mills Family Care</option>"
                    <option value="Stedman Medical Care">Stedman Medical Care</option>"
                </select>
            {% endif %}
            {% if user.insurance_name == "united" %}
                <select name="care_type" id="care_type">
                    <option value="Westside Medical Care">Westside Medical Care</option>"
                    <option value="Hoke Primary Care">Hoke Primary Care</option>"
                    <option value="Three Rivers Medical Center">Three Rivers Medical Center</option>"
                </select>
            {% endif %}

            <label for="care_date">Date of Appointment:</label>
            <input type="datetime-local" id="care_date" name="care_date">

            <button class="button">Book Appointment</button>
        </form>
    </div>
    <a class="option" href="/dashboard">Home</a>
</body>
</html>