<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Profile</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 class="flush">View Profile</h1>
    <div class = "appointments">
        <p>First Name: <strong>{{user.first_name}}</strong></p>
        <p>Last Name: <strong>{{user.last_name}}</strong></p>
        <p>Email: <strong>{{user.email}}</strong></p>
        {% if user.insurance_name == "aetna" %}
            <p>Insurance Provider: <strong>Aetna</strong></p>
        {% endif %}
        {% if user.insurance_name == "bluecross" %}
            <p>Insurance Provider: <strong>Blue Cross Blue Shield</strong></p>
        {% endif %}
        {% if user.insurance_name == "cigna" %}
            <p>Insurance Provider: <strong>Cigna</strong></p>
        {% endif %}
        {% if user.insurance_name == "united" %}
            <p>Insurance Provider: <strong>United Healthcare</strong></p>
        {% endif %}
    </div>
    <div class = "header">
        <a class="option" href = "/editProfile">Edit</a>
        <a class="option" href="/dashboard">Home</a>
    </div>
    
</body>
</html>