<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Profile</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class = "header">
        <h1>View Profile</h1>
        <a href="/dashboard">Home</a>
    </div>
    <div class = "profile_info">
        <p>{{user.first_name}}</p>
        <p>{{user.last_name}}</p>
        <p>{{user.email}}</p>
        {% if user.insurance_name == "aetna" %}
            <p>Aetna</p>
        {% endif %}
        {% if user.insurance_name == "bluecross" %}
            <p>Blue Cross Blue Shield</p>
        {% endif %}
        {% if user.insurance_name == "cigna" %}
            <p>Cigna</p>
        {% endif %}
        {% if user.insurance_name == "united" %}
            <p>United Healthcare</p>
        {% endif %}
    </div>
    <a href = "/editProfile">Edit</a>
</body>
</html>