* {
    font-family: 'Gill Sans';
}
body {
    background-color: white;
    color:rgb(19, 33, 48);
    margin: 0px auto;
    width: 800px;
}
.button {
    background-color: rgb(19, 33, 48);
    color: white;
    box-shadow: 2px 2px grey;
    height: 30px;
}

h1 {
    padding-left: 30px;
}
h2 {
    text-align: center;
}

td {
    width: 300px;
    text-align: center;
}

.flush {
    padding-left: 0px;

}

.vertical-form {
    display: inline-block;
}

.container {
    display: block;
    padding: 10px
}

.logo {
    width: 200px;
}

.error {
    color: orangered;
}

.main-header {
    display: flex;
    padding: 10px 0px 0px 0px;
}

.main-login-container {
    display: flex;
}

.appointments {
    border-color: rgb(19, 33, 48);
    border: 2px solid;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.options {
    text-align: center;
    margin: 0px 0px 40px 0px;
}

.option {
    color: rgb(19, 33, 48);
    padding: 0px 10px;
}
.option:hover {
    background-color: rgb(19, 33, 48);
    color: white;
}

section {
    display: block;
}

.form {
    padding: 40px 0px;
}

.form-element {
    padding-bottom: 4px;
}